[Unit]
Description=ansible onboot service
After=systemd-networkd-wait-online.service
Wants=systemd-networkd-wait-online.service

[Service]
ExecStart=/usr/bin/syncthing --no-browser
Type=simple

[Install]
WantedBy=default.target
