- name: desktop | graphical utilities
  tags: x11,dwm,graphical,utilities
  apt:
    name:
      - abiword
      - alacritty
      - evince
      - freecad           # mainline freecad - see freecad-source.yml for dev installation
      - gnumeric
      - gparted           # disk management
      - jgmenu
      - keepassxc-full
      - libx11-dev        # xclickroot dependency
      - mesa-utils        # useful for glxgears
      - pavucontrol
      - pulseaudio
      - qimgv
      - remmina
      - rxvt-unicode      # fallback terminal
      - sqlitebrowser
      - syncthingtray
      - thunar
      - wireshark
      - xclip
      - xrdp
    state: latest


- name: desktop | graphical utilities | xclickroot-git
  tags: desktop,xclickroot,git
  git:
    repo: "https://github.com/phillbush/xclickroot"
    dest: /home/j4ck/GIT/xclickroot
    force: yes
  register: gitclone

- name: desktop | graphical utilities | xclickroot-make
  tags: desktop,xclickroot,make
  become: true
  community.general.make:
    target: install
    chdir: "/home/j4ck/GIT/xclickroot"
    make: /usr/bin/make
  when: gitclone.changed


- name: Add microsoft vscode repo
  block:
#    - name: get ms repo key
#      ansible.builtin.get_url:
#        url: https://packages.microsoft.com/keys/microsoft.asc
#        dest: /etc/apt/keyrings/microsoft.asc
    - name: add the ms repo
      ansible.builtin.apt_repository:
#        repo: deb [signed-by=/etc/apt/keyrings/microsoft.asc] https://packages.microsoft.com/repos/code stable main
        repo: deb https://packages.microsoft.com/repos/code stable main
        state: present
    - name: install vscode
      apt:
        name:
          - code
        state: latest


